<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	<div class="grid24">
			<main role="main" class="grid8 login">
				<div class="loginForm">
					<p class="logo">:bevip</p>
		<form action="/signup" method="post" class="box login">
			<fieldset class="boxBody">
			<% if (message.length > 0) { %>
				<div class="alert alert-message"><%= message %></div>
			<% } %>
			<label>Name</label>
			  <input type="text" tabindex="1" placeholder="Enter Your Name" name="username" required>
			  <label>Email</label>
			  <input type="text" tabindex="1" placeholder="Enter Your Email Address" name="email" required>
		 		<label>Password</label>
			  <input type="password" tabindex="2"  name="password" required>
				<input TYPE="button"class="btnLogin" value="Login"  onClick="parent.location='/login'">
				<input type="submit" class="btnLogin" value="SignUp" tabindex="1">
			</fieldset>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>
