
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicación gratuita para inventariar tus productos de Apple y guía para saber qué modelo comprar.">
    <meta name="keywords" content="apple,productos,guia,compras,recomendacion, products, guide">
    <meta name="author" content="@fedegarlo">
    <meta name="user" content="<?php echo $content2; ?>">
    <title data-l10n-id="title"></title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/pygments-manni.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon.png">
    <link rel="shortcut icon" href="favicon.png">
    <script src="lib/l20n.min.js"></script>
    <link rel="localization" href="browser.json">
  </head>
  <body id="topAplicacion">
    <!--<?php print_r($content); ?>-->
    <!-- Docs master nav -->

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Amansalva</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="../index.php" data-l10n-id="maintitle"></a></li>
        <!--<li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <?php 
        if (!$_SESSION['id_user']) {
          echo '<li><a href="./redirect.php">Login</a></li>';
        } else {
          echo '<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@'.$user_name.' <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="./clearsessions.php">Logout</a></li>
          </ul>
        </li>';
        } ?>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- Docs page layout -->
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9 col-md-push-3" role="main">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#catalogue" data-toggle="tab" data-l10n-id="tab1"></a></li>
            <li><a href="#devices" <?php echo $tabContent; ?> data-l10n-id="tab2"></a></li>
            <li><a href="#wishlist" <?php echo $tabContent; ?> data-l10n-id="tab3"></a></li>
            <li id="usertab" class="hidden"><a href="#userlist" data-l10n-id="tab4"></a></li>
            <li id="profiletab" class="hidden"><a data-toggle="tab" href="#profilelist" data-l10n-id="tab5"></a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane active fade in" id="catalogue">
              <div id="botonera_orden">
                <span class="title_botonera hidden-xs" data-l10n-id="orderby" ></span>
                <div class="btn-group">                  
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-l10n-id="orderoption3">
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li data-first-order-button class="hidden"><a href="#" data-order="next" data-l10n-id="orderoption3"></a></li>
                    <li><a href="#" data-order="older" data-l10n-id="orderoption2"></a></li>
                    <li><a href="#" data-order="newer" data-l10n-id="orderoption1"></a></li>
                  </ul>
                </div>
              </div>
              <h2 id="media-list" data-l10n-id="tab1"></h2>
              <p data-l10n-id="tab1desc"></p>
              <div id="primaryCatalogue">
                <ul class="media-list" id="product_container"></ul>
              </div>
            </div>
            <div class="tab-pane fade" id="devices">
              <h2 id="media-list" data-l10n-id="tab2"></h2>
              <div id="productosGuapos">
                <p data-l10n-id="tab2desc"></p>
                <ul class="media-list" id="my_product_container"></ul>
              </div>
              <div id="productosAntiguos">
                <!--<ul class="media-list" id="secondaryProducts_container"></ul>-->
              </div>
            </div>
            <div class="tab-pane fade" id="wishlist">
              <h2 id="media-list" data-l10n-id="tab3"></h2>
              <div id="productosGuaposDeseados">
                <p data-l10n-id="tab3desc"></p>
                <ul class="media-list" id="my_wishlist_container"></ul>
              </div>
              <div id="productosAntiguosDeseados">
                <!--<ul class="media-list" id="secondaryProductsList_container"></ul>-->
              </div>
            </div>
            <div class="tab-pane fade" id="userlist">
              <h2 id="media-list" data-l10n-id="tab4"></h2>
                <p data-l10n-id="tab4desc"></p>
                <ul class="media-list" id="userlist_container"></ul>
            </div>
            <div class="tab-pane fade" id="profilelist">
              <h2 id="media-list" data-l10n-id="tab5"></h2>
                <p data-l10n-id="tab5desc"></p>
                <ul class="media-list" id="profilelist_container"></ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 sidebarGPA col-md-pull-9">
            <?php 
              if ($_SESSION['id_user']) { 
                echo '<div class="panel panel-default"><div class="panel-heading" data-l10n-id="loginpanetitleok">';
                echo '</div><div class="panel-body"><p data-l10n-id="loginpaneexplanationok"></p>';
                print_r($content); 
                echo '</div></div>';
              }
            ?>
          <div class="panel panel-default">
            <div class="panel-heading" data-l10n-id="legendpanetitle"></div>
            <div class="panel-body">
              <div><p data-l10n-id="whowedo"></p></div>
            </div>
          </div>
          <div class="panel panel-default" id="podcastpane">
            <div class="panel-heading" data-l10n-id="podcastpanetitle">Escuchar sobre Apple</div>
            <div class="panel-body">
              <ul class="podcastchart">
                <li class="podcastitem">
                  <a href="https://itunes.apple.com/es/podcast/amansalva-podcast/id726398000?mt=2" target="_blank">
                    <div>
                      <img src="img/podcasts/amansalva.jpg" />
                      <p class="podcasttitle">Amansalva</p>
                      <p class="description">Podcast amateur de @fedegarlo y @marcosbarrio.</p>
                    </div>
                  </a>
                </li>
                <li class="podcastitem">
                  <a href="https://itunes.apple.com/es/podcast/puromac/id207230788?mt=2" target="_blank">
                    <div>
                      <img src="img/podcasts/puromac.jpg" />
                      <p class="podcasttitle">Puromac</p>
                      <p class="description">El podcast ultramarino de los amigos Fede y Flavio.</p>
                    </div>
                  </a>
                </li>
                <li class="podcastitem">
                  <a href="https://itunes.apple.com/es/podcast/emilcar-podcast/id251416655?mt=2" target="_blank">
                    <div>
                      <img src="img/podcasts/emilcar.jpg" />
                      <p class="podcasttitle">Emilcar</p>
                      <p class="description">Nuestro gurú murciano y fanboy de cabecera.</p>
                    </div>
                  </a>
                </li>
                <li class="podcastitem">
                  <a href="https://itunes.apple.com/es/podcast/pensando-como-pollos/id478123908?mt=2" target="_blank">
                    <div>
                      <img src="img/podcasts/ipollos.jpg" />
                      <p class="podcasttitle">Pensando como pollos</p>
                      <p class="description">Delirante podcast sobre Apple y la tecnonostalgia.</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <a class="twitter-timeline" href="https://twitter.com/fedegarlo" data-widget-id="430806920551596032">Tweets por @fedegarlo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div id="partners">
            <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=wwwfedegarloc-21&o=30&p=14&l=ur1&category=informatica&banner=1SBC629C8FHCB7R0H182&f=ifr" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel" data-l10n-id="loginpanetitle"></h4>
            </div>
            <div class="modal-body">
              <p data-l10n-id="loginpaneexplanation"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-l10n-id="nothanks"></button>
              <a type="button" class="btn btn-danger" href="http://www.amansalva.com/redirect.php" data-l10n-id="loginpanetitle"></a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
            <!-- Modal -->
      <div class="modal fade" id="modalSeleccionModelo" tabindex="-1" role="dialog" aria-labelledby="modalSeleccionModeloLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="modalSeleccionModeloLabel" data-l10n-id="modeltitle"></h4>
            </div>
            <div class="modal-body">
              <div class="btn-group">
                <p data-l10n-id="selectmodel"></p>
                  <div data-combo-modelos></div>
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <a data-l10n-id="whoweare" href="http://fedegarlo.com" target="_blank"></a>
    </footer>
      <script type="text/html" id="tmpl_mensaje">
        <div class="alert alert-success" data-mensaje-aplicacion>
          <strong>{{ titulo }}</strong> {{ mensaje }}
        </div>
      </script>

    <script type="text/html" id="tmpl_selector_modelo">

        <form name="modelo" data-id-modelo-padre="{{idModeloPadre}}" data-ref-modelo-padre="{{modeloPadre.id}}">
        <% _.each(modelos, function(modelo){ %>
          {{_.template($('#tmpl_selector_modelo_li').html(), {modelo : modelo})}}
        <% });  %>
        </form>
    </script>

    <script type="text/html" id="tmpl_selector_modelo_li">
      <input type="radio" name="modeloDispositivo" value="{{modelo.id}}" data-modelo-seleccionado ="{{modelo.id}}">
        <span class="modeloAElegir">{{modelo.nombre}}</span>
      </input>
    </script>

      <script type="text/html" id="tmpl_producto">
      <% var modeloAMostrar;%>
        <li class="media col-md-4" data-producto="{{ index }}" data-ref-producto="{{ id }}">
          <div class="device-wrapper" itemscope itemtype="http://schema.org/Product">
            <figure class="device-container">
              <% if (justUpdated) { %>
              <div class="newTag" class="hidden"><span>{{ $B.app.literals.product.newProduct }}</span></div>
              <% } %>
              <% if (comingSoon) { %>
              <div class="comingSoonTag" class="hidden"><span>{{ $B.app.literals.product.comingSoonProduct }}</span></div>
              <% } %>
              <% if (outOfDate) { %>
              <div class="outOfDateTag" class="hidden"><span>{{ $B.app.literals.product.dontBuyProduct }}</span></div>
              <% } %>
              <img itemprop="image" class="media-object device-avatar" src="img/{{ imagen }}" alt="">
            </figure>
            {{ _.template($('#tmpl_owner_card').html(), { ownProduct : ownProduct, wantProduct : wantProduct, idProducto : modelsdata, descProducto : id }) }}
          </div>
          <div class="media-body" id="hitos_container">
            <h4 class="media-heading" itemprop="name">{{ nombre }}
            <% if (!_.isEmpty(modelo)) { _.each(models, function(model, index){if(model.id === modelo){modeloAMostrar=model.nombre;}}); %>
            <span class="label label-info">{{ modeloAMostrar }}</span>
            <% } %>
            <% if (wantProduct) { %> <span class="dollarConfirm"></span><% } %>
            </h4>
            <% if (comingSoon) { %>
            	<p>{{ $B.app.literals.product.newModelSoon }}</p>
            	<p id="precioTag" class="precioTag" style="display:none;">
            	<p id="lastUpdate">{{ $B.app.literals.product.lastUpdate + " " + _.formatDate(fecha) }}</p>
            <% } else { %>
            <p>{{ _.formatString($B.app.literals.product.itemUpdate, mediaDiasActualizar) }}</p>
            <p id="precioTag" class="precioTag" style="display:none;">
            </p>
             {{ _.template($('#hito_progreso').html(), {fecha : fecha, mediaDiasActualizar : mediaDiasActualizar} )}}
             <% } %>
          </div>
          <div id="tuit" style="display:none;"></div>
        </li>
      </script>

			<script type="text/html" id="tmpl_productPrice">
			<% if (data.type === 'from') { %>
      	{{ $B.app.literals.product.typePriceFrom }} 
      <% } else { %>
      	{{ $B.app.literals.product.typePriceJust }}
      <% } %>
      <span class="precio">{{ data.number }}{{ data.currency }}</span>
      </script>

      <script type="text/html" id="tmpl_tuit">
      <img src="images/twitter_logo.png" /><div class="alert alert-info">
        <p class="tuit">
          <!--<span class="glyphicon glyphicon-globe"></span>--><a href="<% if (!_.isEmpty(data.url)) { %>{{ data.url }}<% } else { %>#<% } %>" class="alert-link">{{ data.user }}</a> {{ data.text }}
        </p>
        </div>
      </script>

      <script type="text/html" id="tmpl_subProducto">
        <% var modeloAMostrar;%>
        <li class="media col-md-4" data-producto="{{ index }}" data-ref-producto="{{ id }}">
          <div class="device-wrapper">
            <figure class="device-container">
              <img class="media-object device-avatar" src="img/olderVersions/{{ imagen }}" alt="">
            </figure>
              {{ _.template($('#tmpl_owner_card').html(), { ownProduct : null, wantProduct : null, idProducto : null, descProducto : id }) }}
          </div>
          <div class="media-body" id="hitos_container">
            <h4 class="media-heading">{{ nombre }}
            <span class="label label-info">{{ modelo }}</span>
            </h4>
            <p> {{ version }} </p>
              <p>{{ $B.app.literals.product.lastUpdate + " " + _.formatDate(fecha) }}</p>
          </div>
        </li>
      </script>

          <script type="text/html" id="tmpl_owner_card">
          	<% var descProducto; %>
            <div class="hovercard hc-product hc-loading">
              <div class="hc-inner">
                <span class="arrow left"></span>
                <div class="hc-body" style="width: 150px;">
                  <ul class="hc-product-list-menu hc-common-list">
                    <% if (!_.isNull(ownProduct)) { %>
                      <li class="hc-product-list-have">
                        <a class="auth"<?php if (!$misProductos) { echo ' data-toggle="modal" data-target="#myModal"'; } else { echo ' data-i-have="<% if (ownProduct) { %>{{ ownProduct }}<% } %>"'; }?>>
                          <% if (ownProduct) { %>
                            {{ $B.app.literals.product.ihavent }}
                          <% } else { %>
                            {{ $B.app.literals.product.ihaveone }}
                          <% } %>
                        </a>
                      </li>
                    <% } %>
                    <% if (!_.isNull(wantProduct)) { %>
                      <li class="hc-product-list-want">
                        <a class="auth"<?php if (!$misProductos) { echo ' data-toggle="modal" data-target="#myModal"'; } else { echo ' data-i-want="<% if (wantProduct) { %>{{ wantProduct }}<% } %>"'; }?>>
                          <% if (wantProduct) { %>
                            {{ $B.app.literals.product.idontwant }}
                          <% } else { %>
                            {{ $B.app.literals.product.iwantone }}
                          <% } %>
                        </a>
                      </li>
                    <% } %>
                    <!--<% if (!_.isNull(idProducto)) { %>
                      <li class="hc-product-list-want">
                        <a class="auth" data-catalogue="{{ idProducto }}">
                           Modelos anteriores
                        </a>
                      </li>
                     <% } %>-->
                     <% if (!_.isEmpty(descProducto)) { %>
                     <li class="hc-product-list-url">
                      <a class="auth" href="/product/{{ descProducto }}" >
                         {{ $B.app.literals.product.viewProfile }}
                      </a>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </script>

        <script type="text/html" id="tmpl_producto_customizado">
        <% var modeloAMostrar;%>
        <li class="media col-md-4" data-producto="{{ index }}" data-ref-producto="{{ id }}">
          <div class="device-wrapper">
            <figure class="device-container">
              <img class="media-object device-avatar" src="img/{{ imagen }}" alt="">
            </figure>
              {{ _.template($('#tmpl_owner_card').html(), { ownProduct : ownProduct, wantProduct : null, idProducto : null, descProducto : id }) }}
          </div>
          <div class="media-body" id="hitos_container">
            <h4 class="media-heading">{{ nombre }}
            <% if (!_.isEmpty(modelo)) { _.each(models, function(model, index){if(model.id === modelo){modeloAMostrar=model.nombre;}}); %>
            <span class="label label-info">{{ modeloAMostrar }}</span>
            <% } %>
            </h4>
            <% if (comingSoon) { %>
            	<p>{{ $B.app.literals.product.newModelSoon }}</p>
            	<p>{{ $B.app.literals.product.lastUpdate + " " + _.formatDate(fecha) }}</p>
            <% } else { %>
            <p>{{_.formatString($B.app.literals.product.itemUpdate, mediaDiasActualizar)}}</p>
             {{ _.template($('#hito_progreso').html(), {fecha : fecha, mediaDiasActualizar : mediaDiasActualizar} )}}
            <% } %>
          </div>
        </li>
      </script>

        <script type="text/html" id="tmpl_producto_perfil">
        <% var modeloAMostrar;%>
        <li class="media col-md-4" data-producto="{{ index }}" data-ref-producto="{{ id }}">
          <div class="device-wrapper">
            <figure class="device-container">
              <img class="media-object device-avatar" src="img/{{ imagen }}" alt="">
            </figure>
          </div>
          <div class="media-body" id="hitos_container">
            <h4 class="media-heading">{{ nombre }}
            <% if (!_.isEmpty(modelo)) { _.each(models, function(model, index){if(model.id === modelo){modeloAMostrar=model.nombre;}}); %>
            <span class="label label-info">{{ modeloAMostrar }}</span>
            <% } %>
            <% if (!_.isEmpty(modeloDeseado)) { _.each(models, function(model, index){if(model.id === modeloDeseado){modeloAMostrar=model.nombre;}}); %>
            <span class="label label-default">{{ modeloAMostrar }}</span>
            <% } %>
            <% if (wantProduct) { %> <span class="dollarConfirm"></span><% } %>
            </h4>
            <% if (comingSoon) { %>
              <p>{{ $B.app.literals.product.newModelSoon }}</p>
              <p>{{ $B.app.literals.product.lastUpdate + " " + _.formatDate(fecha) }}</p>
            <% } else { %>
            <p>{{_.formatString($B.app.literals.product.itemUpdate, mediaDiasActualizar)}}</p>
             {{ _.template($('#hito_progreso').html(), {fecha : fecha, mediaDiasActualizar : mediaDiasActualizar} )}}
            <% } %>
          </div>
        </li>
      </script>

        <script type="text/html" id="tmpl_producto_wishlist">
        <% var modeloAMostrar;%>
        <li class="media col-md-4" data-producto="{{ index }}" data-ref-producto="{{ id }}">
          <div class="device-wrapper">
            <figure class="device-container">
              <img class="media-object device-avatar" src="img/{{ imagen }}" alt="">
            </figure>
            {{ _.template($('#tmpl_owner_card').html(), { ownProduct : null, wantProduct : wantProduct, idProducto : null, descProducto : id }) }}
          </div>
          <div class="media-body" id="hitos_container">
            <h4 class="media-heading">{{ nombre }}
            <% if (!_.isEmpty(modeloDeseado)) { _.each(models, function(model, index){if(model.id === modeloDeseado){modeloAMostrar=model.nombre;}}); %>
            <span class="label label-default">{{ modeloAMostrar }}</span>
            <% } %>
            <% if (wantProduct) { %> <span class="dollarConfirm"></span><% } %>
            </h4>
            <% if (comingSoon) { %>
            	<p>{{ $B.app.literals.product.newModelSoon }}</p>
            	<p>{{ $B.app.literals.product.lastUpdate + " " + _.formatDate(fecha) }}</p>
            <% } else { %>
            <p>{{_.formatString($B.app.literals.product.itemUpdate, mediaDiasActualizar)}}</p>
             {{ _.template($('#hito_progreso').html(), {fecha : fecha, mediaDiasActualizar : mediaDiasActualizar} )}}
             <% } %>
          </div>
        </li>
      </script>

      <script type="text/html" id="preference_pane">
	      <div class="panel panel-default">
	      	<div class="panel-heading">{{ $B.app.literals.settings.profileTypeTitle }}</div>
	      	<div class="panel-body">
	      		<p><% if (data.value) { %>
	      			{{ $B.app.literals.settings.privateProfile }}
	      			<% } else { %>
	      			{{ $B.app.literals.settings.publicProfile }}
	      			<% } %>
	      		</p>
	    		</div>
	    	</div>
    	</script>

      <script type="text/html" id="hito_progreso">
        <%
          var progressColor,
            progress,
            fecha,
            classExtra = '';

          progress = _.formatProgress({ fechaCalculo : fecha, mediaCalculada : mediaDiasActualizar} );
          fechaCalculada = _.formatDate(fecha);
          classExtra = 'first';

          if (progress <= 70) {
            progressColor = 'info';
          } else {
            progressColor = 'danger';
          }
        %>
        <div class="progressContainer {{ classExtra }}">
          <div class="progress">
            <div class="progress-bar progress-bar-{{ progressColor }}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
              <span class="sr-only">{{ progress }}% Complete (success)</span>
            </div>
          </div>
          <p>
        	<% if (_.isOutOfDate({ fechaCalculo : fecha, mediaCalculada : mediaDiasActualizar})) { %>{{ $B.app.literals.product.noUpdated }}<% } else { %>{{ $B.app.literals.product.lastUpdate + " " + fechaCalculada }}<% } %><span itemprop="releaseDate" class="hidden">{{fecha}}</span>
          </p>
        </div>
      </script>
      <script src="lib/require.js" data-main="app"></script>
  </body>
</html>
