<div style="background:#00FFD4; width:100%; text-align:center;padding-top:20px;padding-bottom:20px; color:#000045">
  <img width="120px" src="img/rayo.png" />
    <h2 style="font-size:40px;">Salva</h2>
  </div>
  <div class="container">
    <div>
      <div class="marketing">
        <h2>Recuperar contraseña</h2>
        <div ng-controller="SalvaController">
          <div ng-hide="resetCompleted">
            <form ng-submit="reset(user)" class="form--hoshi">
                <span class="input input--hoshi">
                  <input type="password" ng-model="user.password1" class="input__field--hoshi input__field" id="input-main"></input>
                <label class="input__label input__label--hoshi input__label--hoshi-color-4" for="input-main">
                  <span class="input__label-content input__label-content--hoshi">Nuevo password</span>
                </label>  
                </span>
                <span class="input input--hoshi">
                  <input type="password" ng-model="user.password2" class="input__field--hoshi input__field" id="input-main-two"></input>
                <label class="input__label input__label--hoshi input__label--hoshi-color-4" for="input-main-two">
                  <span class="input__label-content input__label-content--hoshi">Repite password</span>
                </label>  
                </span>
                <span ng-show="formError">Las contraseñas no coinciden</span>
                <span ng-show="serviceError">Se ha producido un error inesperado</span>
                <div class="buttons-salva">
                  <button type="submit" class="btn-salva">Enviar</button>
                </div>
            </form>
          </div>
          <div ng-show="resetCompleted">
            <p>Hemos reseteado tu contraseña correctamente.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="jumbotron">
        <div class="container">
          <p>@salva_app</p>
          <p>
            <a href="https://twitter.com/salva_app" class="sb embossed twitter" target="_blank">Twitter</a>
            <a href="mailto:&#115;&#097;&#108;&#118;&#097;&#064;&#102;&#101;&#100;&#101;&#103;&#097;&#114;&#108;&#111;&#046;&#099;&#111;&#109;" class="sb embossed email">Email</a>
            <a href="https://es-es.facebook.com/salvaapp" class="sb embossed facebook" target="_blank">Facebook</a>
          </p>
        </div>
      </div>
    </div>
  </div>