
		body {
			font-family: Arial;
		}
    label {
      min-width: 150px;
      display: inline-block;
    }
    .big {
    	font-size: 80px;
    }
    .result {
    	background-color: #e6d5a5;
    	float: right;
    	margin-right: 20px;
    	margin-top: 20px;
    	min-height: 160px;
    	text-align: center;
    	width:50%;
    }